<html>
    <head></head>
    <body>
        <h1>{{ trans('go.new_user') }}</h1>
        <br>
        <p>{{ trans('go.name') ~ ': ' ~ name }}</p>
        <p>{{ trans('go.email') ~ ': ' ~ email }}</p>
        <p>{{ trans('go.link') ~ ': ' ~ link }}</p>
        <br>
        <br>
        <p>{{ prefix_url ~ '/admin/users' }}</p>
        <p>Email enviado pelo admin do site!</p>
    </body>
</html>