<html>
    <head></head>
    <body>
        <h1>{{ trans('go.contact') }}</h1>
        <br>
        <p>{{ trans('go.name') ~ ': ' ~ name }}</p>
        <p>{{ trans('go.email') ~ ': ' ~ email }}</p>
        <p>{{ trans('go.phone') ~ ': ' ~ phone }}</p>
        <p>{{ trans('go.email_message') ~ ': ' ~ email_message }}</p>
        <br>
        <br>
        <p>{{ trans('go.email_footer') }}</p>
    </body>
</html>