<section id="navigation">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ prefix_url ~ '/' }}">{{ config_get('constants.SITE_NAME') }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {#                admin menu  #}
                <ul class="nav navbar-nav navbar-right navigation-admin">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ prefix_url ~ '/admin' }}">{{ trans('go.dashboard') }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ prefix_url ~ '/admin/posts' }}">{{ trans('go.new_posts') }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ prefix_url ~ '/admin/users' }}">{{ trans('go.new_users') }}</a>
                    </li>
                </ul>
                {#                    home menu   #}
                <ul class="nav navbar-nav navbar-right navigation-home">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#search">{{ trans('go.search') }}</a>
                    </li>                    
                    <li class="page-scroll">
                        <a href="#about">{{ trans('go.about') }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">{{ trans('go.contact') }}</a>
                    </li>
                    {% if user|length == 0 %}
                        <li>
                            <button class="loginBtn loginBtn--facebook" onclick="socialLogin('{{ prefix_url ~ '/facebook/redirect' }}');">
                                {{ trans('go.login-facebook') }}
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>